<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= link_to "Show", "#" %></td>
  <td><%= link_to "Edit", edit_user_path(user) %></td>
  <td><%= link_to "Destroy", "#", method: :delete, data: { confirm: t(".are_you_sure") } %></td>
</tr>
